<div class="formcontainer container">
<div class="heading row"> 
	<div class="col-sm-4"></div>
	<div class="col-sm-4"><h2 class="heading">Add a new property</h2></div>
	<div class="col-sm-4"></div>
</div>
<%= bootstrap_form_for(@property) do |f| %>
  <%= f.text_field :agent %>
  <%= f.text_field :city %>
  <%= f.text_field :link %>
   <%= f.select :bootcamp,  options_from_collection_for_select(Bootcamp.all, "id", "name") %> 
   <%= f.submit "Submit real estate for approval"%>
<% end %>
</div>