<div class="bootcampcontainer container">
		<div class="heading row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 bootcampname">
					<h1 class="bcnameheading text-center"><%= @bootcamp.name %></h1>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<br>
		<div class="about row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 bootcampname">
			<h4 class="bcabout text-center">About this bootcamp:</h4><br>
					<h4 class="description text-center"><%= @bootcamp.description %></h4>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<div class="bccities row">
			<% @bootcamp.cities.each do |city| %>
				<div class="col-sm-4 bccity">
					<div class="text-center"><h2 class="heading"><%= link_to(city.name, city_path(city)) %></h2></div><br>
					<div class="text-center"><%= image_tag(city.cityimgs.first.url, height: "200px", width: "200px", class: "cityIMG") %></div>
				</div>
				<% end %>
		</div>
		<br>
		<div class="attend row">
			<div class="col-sm-4">People looking to attend: </div>
			<div class="col-sm-4 text-center">
				<%= button_to "Interested in attending?", @bootcamp.url, :method => "get", class: "btn btn-primary" %><br>
				<%= button_to "Interested in housing?", add_user_path(bootcamp_id: @bootcamp.id), :method => "post", class: "btn btn-warning" %><br>
				
			</div> 
			<div class="col-sm-4"></div>
		</div>
</div>