
<div class="bannercontainer container-fluid">
	<div class="bannerrow row">
		<div class="topnav container-fluid">
			<div class="col-sm-4 bootcampfeature">
				<%= link_to('Register your bootcamp', new_bootcamp_path, class: "ghostbutton") %></a>
			</div>
			<div class="col-sm-4 about">
				<a href="/about" class="ghostbutton">About</a>
			</div>
			<div class="col-sm-4 realtors"><%= link_to( 'Register a property', new_property_path, class: "ghostbutton") %></div>
		</div>
		<div class="mainbanner">
			<%= image_tag("mainbanner.jpg", class: "headingbanner") %>
			<div class="headingwrapper"><h2 class="siteheading text-center">Welcome to BootcampEZ</h2><h4 class="sitesidenote text-center">You do the learning, we do the rest</h4></div>
		</div>
	</div>
</div>
<div class="navcontainer container-fluid">
	<div class="navrow row">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="col-sm-4">
				<ul class="navbar">
					<li>
					<% if current_user.present? %>
					<%= link_to('Logout', destroy_user_session_path, method: "Delete", style:"width: 100%;", class: "ghostbutton signin") %>
					<% else %>
					<%= link_to('Login', new_user_session_path, style:"width: 100%;", class: "ghostbutton signin") %>
					<%= link_to('Register', new_user_registration_path, style:"width: 100%;", class: "ghostbutton signin") %>
					<% end %>
				</ul>
			</div>
			<div class="col-sm-4 search">
				<ul class="nav navbar-nav">
					<li class="active searchli row">
						<div class="form-group search">
							<%= form_tag(search_path, method: 'get', class: 'navbar-form navbar-left', role: 'search') do %>
							<%= text_field_tag(:q) %>
							<%= select_tag(:numrooms, options_for_select([1,2,3,4,5])) %>
							<%= select_tag(:sortby, options_for_select(["Price: Low to high", "Price: High to low", "Relevance"]))%>					
							<button type="Submit" class="ghostbutton">Search</button><br>
						
						</div>
					<% end %>	</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul class="nav navbar-nav navbar-right">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle ghostbutton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Cities with bootcamps
						<span class="caret"></span>
						</button>
						
						<ul class="dropdown-menu nav navbar-nav" role="menu" aria-labelledby="dropdownMenu1">
							<% @cities.each do |city| %>
							<li role="presentation">
							<b><%= link_to(city.name, city_path(city))  %></b>
							<%= image_tag(city.cityimgs.first.url, class: "cityIMGsmall") %>
							</li>
					
							<% end %>
						
						</ul>
					</div>
				</ul>
			</div>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>

	<div class="contentcontainer container-fluid">
		<div class="bootcamps row">
			<div class="col-sm-12 bootcampcontainer">
				<div class="bootcampheading row text-center"><h2 class="majorheading">Check out some bootcamps</h2><h4 class="minorheading">Learn the skills you need, faster.</h4></div>
				<% @bootcamps.each do |bootcamp| %>
				<% if bootcamp.approved == true %>
				<div class="bootcamphome text-center col-sm-4"> <h2 class="heading"><%= link_to(bootcamp.name, bootcamp_path(bootcamp))  %></h2><br>
					<%= image_tag(bootcamp.bootcampimgs.first.url, class: "cityIMG") %><br>
						<% bootcamp.cities.each do |city| %>
					<small><%= city.name %></small>
					<% end%>
				</div>
				<% end %>
				<% end %>
				</div>
			</div>
		</div>
		<div class="properties row">
			<div class="cityheading text-center row"><span class=" heading"> Popular Properties</span></div>			
			<div class="col-sm-4"></div>
		</div>
		<div class="socialmedia row">
			<div class="share col-sm-8">
				<a class="btn btn-social-icon btn-twitter">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-facebook">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-social-icon btn-linkedin">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
			<div class="contact col-sm-4">
			</div>
		</div>
	</div>
</div>
</div>