<div class="navcontainer container-fluid">
			<div class="navrow row">
				 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
			        <li><a href="#">Link</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Sign in</a></li>
			            <li><a href="#"></a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>
			      </ul>
				  <%= form_tag(search_path, method: 'get', class: 'navbar-form navbar-left', role: 'search') do %>
			        <div class="form-group search">
					  <%= label_tag(:q, "Search for:") %>
					  <%= text_field_tag(:q) %>
					  <button type="Submit">Search</button>
 					</div>
				  <% end %>		       
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">Link</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			        
			          </ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			</div>
			<div class="bannercontainer container-fluid">
				<div class="bannerrow row">
					<div class="mainbanner">
						<img src="/assets/mainbanner.jpg" width="100%" height="400">
					</div>
					<div class="text-center row"><h2 class="heading"> Available Cities</h2></div>
				</div>
			</div>
				<div class="contentcontainer container">
					<div class="cities row">
						<% @cities.each do |city| %>
						<div class="cityheading"><small> <%= link_to(city.name, city_path(city))  %> </small></div>
						<div class="col-sm-4">
							<img src="/assets/<%= city.cityimgs.first.url %>" class="cityIMG">
						</div>
						<% end %>
					</div>
					<div class="bootcamps row">
						<% @bootcamps.each do |bootcamp| %>
						<% if bootcamp.bootcampimgs != nil %>
						<div class="bootcampheading row heading">Check out some bootcamps...</div>
						<div class="bootcampheading"><small> <%= link_to(bootcamp.name, bootcamp_path(bootcamp))  %> </small></div>
						<div class="col-sm-4">
							<img src="/assets/<%= bootcamp.bootcampimgs.first.url %>" class="cityIMG">
						</div>
						<% end %>
						<% end %>
					</div>
					<div class="about row">
						<div class="aboutus col-sm-12 text-center">
							<h1 class="heading">About us: </h1>
							<br>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
						</div>
					</div>
					<div class="mission row">
						<div class="missionstatement col-sm-12 text-center">
							<h1 class="heading">Our goals</h1>
							<br>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
						</div>
					</div>
					<div class="socialmedia row">
						<div class="share col-sm-8">
							<a class="btn btn-social-icon btn-twitter">
		    					<i class="fa fa-twitter"></i>
	  						</a>
	  						<a class="btn btn-social-icon btn-facebook">
		    					<i class="fa fa-facebook"></i>
	  						</a>
	  						<a class="btn btn-social-icon btn-google-plus">
		    					<i class="fa fa-google-plus"></i>
	  						</a>
	  						<a class="btn btn-social-icon btn-linkedin">
		    					<i class="fa fa-linkedin"></i>
	  						</a>
						</div>
						<div class="contact col-sm-4">
						</div>
					</div>
				</div>
			</div>
		</div>