<div class="propertiessearch container">
	<div class="row">
		<div class="col-sm-12 propsearchbar text-center">
			<h1 class='heading'>Search for more properties</h1>
			<%= form_tag(search_path, method: 'get', class: '', role: 'search') do %>
			<%= text_field_tag(:q) %>
			<%= select_tag(:numrooms, options_for_select([1,2,3,4,5]), value: "Beds") %>
			<%= select_tag(:sortby, options_for_select(["Price: Low to high", "Price: High to low", "Relevance"]))%>
			<button type="Submit">Search</button>
			<% end %>
		</div>
		
	</div>
	<br>
	<br>
<div class="container">
	<div class="row">
		<% @properties.each do |property| %>
		<% if property['itemStatus'].present? %>
		<div class="col-sm-4 col-xs-6">
			<div class="panel panel-default text-center">
				<div class="panel-thumbnail-search">	<% if property['photos'][0]['medium'] != nil %>
					<img class="propertyimg" src="<%= property["photos"][0]["medium"] %>"><br>
				<% end %></div>
				<div class="panel-body">
					<p class="lead"><h3 class="propheading"><%= truncate(property['attr']['heading'], length: 30) %></h3>
						<% if property['location']['neighbourhood'].present? ? @citydata = "#{property['location']['neighbourhood']}, #{property['location']['city']}, #{property['location']['state']}" : @citydata = "#{property['location']['city']}, #{property['location']['state']}" %>
						<% end %>
					</p>
					<p>
						Monthly: $<%= property['price']['monthly'] %><br>&nbsp;Weekly: $<%= property['price']['weekly'] %><br>&nbsp;<br>
						<%= property['attr']['propType']['text'] %><br>
					</p>
					<p>
						Minimum Stay: <%= "#{property['price']['minNight']} nights" %><br>
					</p>
					<small><a href="<%= property['provider']['url'] %>">Link to Property</a><br></small>
				</div>
			</div>
			</div><!--/col-->
			<% end %>
			<% end %>
		</div>
	</div>