
     <script type="text/javascript">
    $( document ).ready(function() {
        handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        var markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

        $('body').on('click', '#replace_markers', function(){ 
            $.getJSON("/telemetry_recordings", function(newMarkers){
                handler.removeMarkers(markers); 
                markers = handler.addMarkers(newMarkers);
            });
        });
    });   
     });
     </script>

<% @image = @city.cityimgs.first %>
<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<div class="cityimage col-sm-12"><%= image_tag(@image.url) %><header></div>
<div class="cityname col-sm-12 text-center"><%= @city.name %></div>
<div class="citycontainer container">
	<div class="headingrow row text-center">
		<div class="cityname col-sm-7"></div>
		<div class="col-sm-5"></div><br>
	</div>
	<div class="name row">
		<div class="col-sm-4"></div>
		<div class="cityInfo text-center col-sm-4">
			<div class="bootcampsheading"><span class="heading">Bootcamps available in this city:</span><br><br>
                <% @city.bootcamps.each do |bootcamp| %>
                <h2><%= link_to(bootcamp.name, bootcamp_path(bootcamp)) %></h2><br>
                <% end %>
			</div>
			<span class="heading">About</span><br>
				<%= @city.description %>
			
		</div>
        <div class="col-sm-4"></div>
	</div>
	<div class="description row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
		</div>
		<div class='col-sm-4'>
		</div>
	</div>
	<div class="linkbar row">
		<div class='col-sm-4'>
		</div>
		<div class="col-sm-4">
			<%= link_to 'Back', cities_path %>
		</div>
		<div class='col-sm-4'>
		</div>
	</div>

    



</div>