<p id="notice"><%= notice %></p>
<div class="cityimage col-sm-12"><%= image_tag(@city.image) %></div>
<div class="citycontainer container">
	<div class="name row">
		<div class='col-sm-4 neighborhoods' id="neighborhoods">
		</div>
		<div class="cityInfo text-center col-sm-4">
			<div class="cityname"><%= @city.name %></div><br>
			<div class="bootcamps">Bootcamps available in this city:<br><br>
				<%= @city.bootcamps %>
			</div>
			<div class="about">About<br><br>
				<%= @city.description %>
			</div>
		</div>
		<div class='col-sm-4'>
		</div>
	</div>
	<div class="description row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
		</div>
		<div class='col-sm-4'>
		</div>
	</div>
	<div class="linkbar row">
		<div class='col-sm-4'>
		</div>
		<div class="col-sm-4">
			<%= link_to 'Edit', edit_city_path(@city) %>
			<%= link_to 'Back', cities_path %>
		</div>
		<div class='col-sm-4'>
		</div>
	</div>
</div>